.scrollableContent {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .scrollableContent::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;  /* Safari and Chrome */
  }