/* From Uiverse.io by kennyotsu */
/* works janky on mobile :<*/

.container {
    z-index: 0;
    position: relative;
  }
  
  #card {
    position: relative;
    transition: 0.5s;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);    overflow: hidden; /* Hide overflow */
    z-index: 1;
  }
  
  .content {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
  }
  
  #card:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .scrollable-content {
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
  }
  
  /* Modern scrollbar styles */
  .scrollable-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
  }
  
  /* For Firefox */
  .scrollable-content {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -0%;
    margin-top: -10%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
    z-index: 1;
    transform: scale(2);
  }
  
  .wave:nth-child(2), .wave:nth-child(3) {
    top: 210px;
    transform: scale(0.7);
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 20000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 8000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 20000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }